TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=ens192
UUID="{{ uuid_result.stdout }}"
DEVICE=ens192
ONBOOT=yes
IPADDR=192.168.161.46
PREFIX=22
GATEWAY=192.168.160.1
DNS1=192.168.161.17
DNS2=192.168.161.18
DOMAIN=ziyotek1.local